@import '../../../styles/global.module.css';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: var(--padding-md);
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-lg);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: var(--box-shadow);
  min-width: 340px;
}

.button:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}

.icon {
  font-size: var(--font-size-icon);
}


@media (max-width: 768px) {
  .Button {
    width: 100%; 
  
  }
}