@import '../../styles/global.module.css';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-md);
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-border);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.left, .right {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding: var(--padding-sm);
    justify-content: space-between; 
  }

  .left, .right {
    flex: 1; 
  }

  .right {
    justify-content: flex-end; 
    margin-right: 1%;
  }
}